@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Definding grid columns for different breakpoints of pokemon grid */
.pokemon-grid {
	grid-template-columns: 1fr;

	@media (min-width: 580px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: 1024px) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media (min-width: 1280px) {
		grid-template-columns: repeat(5, 1fr);
	}
}

.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #e1e1e1 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

/* Custom scrollbar styles */
.custom-scroll::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 6px;
	margin-left: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background: #dedede;
	border-radius: 6px;
	transition: background 0.2s ease;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
	background: #c2c2c2;
}

.custom-scroll::-webkit-scrollbar-button {
	display: none;
	width: 0;
	height: 0;
}

.custom-scroll::-webkit-scrollbar-button:start:decrement,
.custom-scroll::-webkit-scrollbar-button:end:increment {
	display: none;
	width: 0;
	height: 0;
}
